:root {
    --color-primary: #012b67;
    --color-secondary: #FFD700;
    --color-accent: #FF6F00;
    --color-success: #2E7D32;
    --color-light: #F5F5F5;
    --color-dark: #424242;
    --color-white: #FFFFFF;

    --font-family-primary: 'Montserrat', Arial, sans-serif;

    --fa-rotate-angle: 0deg;
}

.toggle-view {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}

.toggle-view label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.toggle-view input {
    appearance: none;
    width: 40px;
    height: 20px;
    background: var(--color-primary);
    border-radius: 10px;
    position: relative;
    outline: none;
    cursor: pointer;
    margin-right: 0.5rem;
}

.toggle-view input:checked {
    background: var(--color-primary);
}

.toggle-view input::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle-view input:checked::before {
    transform: translateX(20px);
}

body {
    font-family: var(--font-family-primary);
}

h1 {
    margin: 4px;
}

header {
    display: block;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: var(--color-light);
    border-bottom: solid 5px var(--color-primary);
    border-radius: 18px;
    padding: 0% 5%;
}

.navigation a {
    display: none;
    text-decoration: none;
    color: black;
    margin: 3% 5%;

}

.navigation.open {
    display: flex;
    flex-direction: column;
}

.open a {
    display: block;
}

#menu {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 2rem;
}

#menu::before {
    content: "☰";
    text-align: center;
    margin: 0% 10px;
    border: none;
}

#menu.open::before {
    content: "❌";
}

#logo {
    max-width: 100px;
    border-radius: 18%;
    margin: 0% 40px;
}

#text-header {
    display: block;
    margin: 0%;
    font-size: small;
}

#text-header h2 {
    margin-bottom: 0%;
}

#text-header p {
    margin: 0%;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#principal {
    display: flex;
    justify-content: space-between;
}

#hero-container {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background: linear-gradient(45deg, var(--color-primary), #ffffff);
    background-size: 400% 400%;
    border-radius: 18px;
    text-align: center;
    animation: moveGradient 5s ease infinite;
    position: relative;
    display: block;
}

#hero-img {
    width: 99%;
    margin: .5%;
    opacity: .65;
    border-radius: 18px;
    position: relative;
}

#weather-img {
    width: 100px;
}

.button {
    padding: 10px 20px;
    margin: 0;
    background-color: var(--color-light);
    color: var(--color-dark);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: var(--color-secondary);
}

.button:active {
    background-color: var(--color-accent);
}

.container {
    border: solid var(--color-primary);
    min-height: 200px;
    margin: 5px;
    padding: 2%;
}

.container span {
    font-weight: bolder;
    font-size: 1rem;
}

.container h2 {
    background-color: var(--color-primary);
    opacity: 90%;
    color: var(--color-white);
    margin: 0%;
    padding: 0%;
    text-align: center;
}

#business-container.list {
    display: block;
}

#business-container.list img {
    display: none;
}

.social-icons {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.social-icons a:hover {
    color: #000;
}


.business-card {
    background-color: var(--color-light);
    margin: 5px;
    padding: 2%;
    border-bottom: solid 5px var(--color-primary);
    border-radius: 18px;
    text-align: center;
}

.business-card div {
    display: flex;
}

.business-card h3 {
    margin: 0%;
}

.business-card p {
    margin: 2px;
}

.business-card img {
    max-width: 90px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #424242;
    margin: 5px;
}

#weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#weather p {
    margin: 5px;
}

h3 {
    margin: 20px;
    font-size: x-large;
    font-family: var(--font-family-primary);
}

.forecast-day {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

.forecast-day p,
.forecast-day h3 {
    padding: 1%;
    margin: 1%;
}

.forecast-day img {
    padding: 0%;
    margin: 0%;
    width: 40px;

}

footer {
    margin: 10%;
}

footer p {
    margin: 0%;
}


.business-spotlight {
    text-align: center;
    padding: 1%;
    margin: 1%;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #424242;
}

.business-spotlight img {
    width: 90%;

}

@media screen and (min-width: 750px) {
    main {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        justify-content: space-around;
        margin: 0%;
    }

    #hero-img {
        height: 400px;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        width: 60%;
        margin-left: 10%;
    }

    #business-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    }

    .navigation a {
        display: flex;
        font-size: larger;
    }

    .place {
        border-bottom: solid 2px var(--color-secondary);
        border-radius: 5px;
    }

    .navigation a:hover {
        color: var(--color-primary);
        border-bottom: solid 2px var(--color-secondary);
        border-radius: 5px;
        transform: scale(1.2);
    }

    #text-header {
        width: 200px;
        font-size: larger;
    }

    .button:hover {
        background-color: var(--color-secondary);
        transform: scale(1.5);
    }

    .button:active {
        background-color: var(--color-accent);
        transform: scale(0.98);
    }

    .button {
        top: 80%;
        left: 80%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;

    }

    #business-container.list .business-card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .spotlight-container {
        display: grid;
        height: 120%;
        grid-template-columns: repeat(3, 1fr);
    }

    .spotlight-container img {
        width: 200px;
        height: 130px;
    }
}

@media screen and (max-width:325px) {
    #text-header {
        display: none;
    }
}